<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="EmployeeSalary" connectionString="Data Source=MCD;Initial Catalog=EmployeeSalary;Persist Security Info=True;User ID=Chanden;Password=Monchanden2302"
   providerName="System.Data.SqlClient" />
  <add name="EmployeeSalaryEntities" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MON_CHANDEN;initial catalog=EmployeeSalary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="EmployeeDB.Properties.Settings.EmployeeDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\EmployeeDB.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="EmployeeDB.Properties.Settings.EmployeeSalaryConnectionString"
   connectionString="Data Source=MON_CHANDEN;Initial Catalog=EmployeeSalary;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="EmployeeDB.Properties.Settings.EmployeeSalaryConnectionString1"
   connectionString="Data Source=MCD;Initial Catalog=EmployeeSalary;Persist Security Info=True;User ID=Chanden;Password=Monchanden2302"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>